gyak1to3exlipse-wrapup/L27NCJ_orarend.dtd

<!ELEMENT orarend (ora*)>
<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
<!ATTLIST ora
    id CDATA #REQUIRED
    tipus (eloadas|gyakorlat) "eloadas">
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap, tol, ig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ATTLIST ig
	>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>